.app {
    font-family: Roboto;
}

.auth-page {
    position: relative;
    background: #ffffff;
    height: 100%;
    left: 0;
    top: 0;
}

.side-buttons {
    position: absolute;
    width: 512px;
    height: 1024px;

    background: #0078D7;
}

.banner-badge {
    position: absolute;
    width: 253px;
    height: 58px;
    left: 23px;
    top: 18px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.main-title {
    position: absolute;
    width: 452px;
    height: 98px;
    left: 36px;
    top: 298px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    
    color: #FFFFFF;
    
}

.subtitle-1 {
    position: absolute;
    width: 454px;
    height: 113px;
    left: 34px;
    top: 476px;

    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #FFFFFF;

}

.subtitle-2 {
    position: absolute;
    width: 454px;
    height: 113px;
    left: 34px;
    top: 423px;

    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #FFFFFF;
}

.sign-btn {
    position: absolute;
    width: 332px;
    height: 85px;
    left: 84px;
    top: 616px;
    color: white;
    background-color: #0078D7;
    font-size: 2em;
    font-weight: bold;

    border: 3px solid #C3DDF7;
    box-sizing: border-box;
    border-radius: 100px;
}

.input-group {
    position: absolute;
    width: 700px;
    left: 632px;
    top: 379px;
}

.form-control {
    width: 100%;
    height: 88px;
    color: #C4C4C4;
    font-size: 2.5em;
    padding: 10px;
    margin: 20px;
    
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.main-header {
    position: absolute;
    width: 717px;
    height: 85px;
    left: 752px;
    top: 47px;

    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #0078D7;
}

.socmed-1 {
    position: absolute;
    width: 116px;
    height: 107px;
    left: 778px;
    top: 152px;

    border: 3px solid #C4C4C4;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
}

.socmed-2 {
    position: absolute;
    width: 116px;
    height: 107px;
    left: 933px;
    top: 152px;

    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.socmed-3 {
    position: absolute;
    width: 116px;
    height: 107px;
    left: 1088px;
    top: 146px;

    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.icon {
    font-size: 3.5em;
}

.main-subtitle {
    position: absolute;
    width: 634px;
    height: 54px;
    left: 762px;
    top: 309px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;

    color: #C4C4C4;
}

.submit-btn {
    position: absolute;
    width: 332px;
    height: 85px;
    left: 824px;
    top: 798px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2em;

    background: #0078D7;
    border-radius: 100px;
}

.dashboard {
    position: relative;
    /* width: 1440px; */
    width: 100%;
    height: 1024px;

    background: #F5F5F5;
}

.topbar {
    position: absolute;
    /* width: 1440px; */
    width: 100%;
    height: 103px;
    left: 0px;
    top: 0px;

    background: #0078D7;
}

.logout-btn {
    position: absolute;
    width: 253px;
    height: 58px;
    right: 0;
    top: 23px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
}

.profile-tab {
    margin-top: 103px;
    padding: 30px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;

    display: flex;
    flex-direction: column;
}

.logo-tab {
    margin-top: 103px;
    text-align: center;
    padding: 30px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 5%;
}

.profile-item {
    flex: 1;
    justify-content: flex-start;
    width: 100%;
}

.todo-menu {
   display: flex;
   align-items:center;
   font-size: 2em;
   margin-bottom: 100px;
}

.todo-tab {
    margin-top: 103px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

.todo-input-box {
    height: 158px;
    padding: 20px;

    background: #FFFFFF;
    border-radius: 5px;
    
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    margin: 40px;
    display: flex;

    justify-content: center;
}

.todo-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #C4C4C4;
    width: 90%;
    font-size: 2em;
}

.add-task {
    text-align: center;
    border: 0;
    font-size: 3em;
    background: #ffffff;
    color: #C4C4C4;
}